
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="container">
    <div id="rssList" class="list-group">
    </div>
</div>


<div class="list-group">
    <a href="#" class="list-group-item">
        <span class="label label-danger ">List group item heading</span>
        <span class="list-group-item-text">...rwerewrewrewrwerwe</span>
    </a>
</div>

